<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Chronicles | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Chronicles</h1></a>
            <p>A Yggdrasil's site</p>
        </div>
        <ul>
            <li>
                <div class="search-container">
                    <div class="search-header" onclick="toggleSearch()">
                      <span id="searchText">Search</span>
                    </div>
                    <div class="search-expand" id="searchExpand">
                      <div class="search-close" onclick="toggleSearch()">×</div>
                      <input type="text" id="searchInput" placeholder="Type your search...">
                      <button onclick="submitSearch()">Submit</button>
                    </div>
                  </div>
            </li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <div class="about-us">
            <table>
                <td><p class="abt-para">This is a Blog Website developed to help YOU manage and save your every important information in an easy and most simplest way.</p>
                    <p class="abt-para">We developed it using simple and efficient MERN stack (Mongo, Express, REACT, Node). <br><br>   </p>
                    <p class="cnnt-para">If you enjoyed using it, Do connect with us on :<br> 
                        <ul class="connect-us">
                            <li><a href="http://"><img class="linkedin-logo" src="https://th.bing.com/th/id/R.abdb36b128f0cfcee1329ddb1365a99b?rik=Q8UtGzuevu7ZBw&riu=http%3a%2f%2flofrev.net%2fwp-content%2fphotos%2f2017%2f04%2flinkedin_logo.jpg&ehk=WX0fSjGgisCu4YfNc2IBnr7nLADE%2f06resHyt%2fqG1pg%3d&risl=&pid=ImgRaw&r=0" alt=""></a>.</li>
                            <li><a href="https://youtube.com/@himanshupatil4976"><img class="youtube-logo" src="https://freepngimg.com/thumb/youtube/77779-logo-youtube-hd-image-free-png.png" alt=""></a></li>
                            <li><a href="https://www.facebook.com/prabha.patil.5602?mibextid=ZbWKwL"><img class="meta-logo" src="https://1000logos.net/wp-content/uploads/2021/10/logo-Meta.png" alt=""></a></li>
                        </ul>
                    </p></td>
                <td><img src="../public/profile.jpg" alt=""></td>
            </table>
        </div>
    </div>
    



    <script>
        function toggleSearch() {
      var expand = document.getElementById("searchExpand");
      var text = document.getElementById("searchText");
      text.classList.toggle("expanded");
      expand.classList.toggle("expanded");
      if (text.classList.contains("expanded")) {
        text.textContent = "×";
      } else {
        text.textContent = "Search";
      }
    }

    function submitSearch() {
      var searchTerm = document.getElementById("searchInput").value;
      // Perform search or other actions with searchTerm
      console.log("Search term:", searchTerm);
    }
      </script>
</body>
</html>