<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Ninja site </p>
        </div>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="details content ">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id%>">DELETE</a>
    </div>
    <div class="heart-btn">
        <div class="content_1">
          <span class="heart"></span>
          <span class="text">Like</span>
          <span class="numb"></span>
        </div>
      </div>
      <div class="container">
        <h2>Leave Us a Comment</h2>
        <form>
            <textarea placeholder='Add Your Comment'></textarea>
            <div class="btn">
                <input type="submit" value='Comment'>
                <button id='clear'>Cancel</button>
            </div>
        </form>
    </div>

    <script src='plugin.js'></script>  
   
  
    
   
    <script>
        $(document).ready(function(){
          $('.content_1').click(function(){
            $('.content').toggleClass("heart-active")
            $('.text').toggleClass("heart-active")
            $('.numb').toggleClass("heart-active")
            $('.heart').toggleClass("heart-active")
          });
        });
      </script>

    <script>
        const trashcan= document.querySelector('a.delete');
        trashcan.addEventListener('click', (e)=>{
            const endpoint=`/blogs/${trashcan.dataset.doc}`;
            fetch(endpoint,{
            method:'DELETE'
        })
        .then((response)=>response.json())
        .then((data)=>
            window.location.href = data.redirect
        )
        .catch(err=>{
            console.log(err);
        })
        })
        
    </script>
</body>
</html>
