<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles_home.css">
</head>
<body>
    <div id="wrapper">

        <div class="container">
            <img src="back18.jpg" class="background">
            <img src="foreground.png" class="foreground">
            <h1>Blog Chronicles</h1>
        </div>

        <section>
            <h2 class="secHeading"> Blogging Time</h2>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>


            <div class="bg bg1">
                <h2 class="desc"><a href="/blog/create" >New Blog</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg2">
                <h2 class="desc"><a href="/blogs" >View Blog</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg3">
                <h2 class="desc"><a href="/about" >About Us</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

        </section>

    </div>
</body>
</html> 