<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles_home.css">
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <div id="wrapper">

        <div class="container">
            <img src="back18.jpg" class="background">
            <img src="foreground.png" class="foreground">
            <h1>Blog Chronicles</h1>
        </div>

        <section>
            <h2 class="secHeading"> Blogging Time</h2>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>


            <div class="search-container">
                <form action="/search" method="GET">
                  <div class="topic-bubbles">
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <label><input type="checkbox" name="topic" value="politics"> Politics</label>
                    <label><input type="checkbox" name="topic" value="sports"> Sports</label>
                    <label><input type="checkbox" name="topic" value="entertainment"> Entertainment</label>
                    <!-- Add more topics as needed -->
                  </div>
                  <input class="input-field" type="text" name="query" placeholder="Enter your search query">
                  <button type="submit" class="srch-btn">Search</button>
                </form>
              </div>


            <div class="bg bg4">
                <h2 class="desc"><a href="#" >Search Blog</a></h2>
            </div>
            
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>


            <div class="bg bg5">
                <h2 class="desc"><a href="#" >Blog Topics</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>


            <div class="bg bg1">
                <h2 class="desc"><a href="/blog/create" >New Blog</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg2">
                <h2 class="desc"><a href="/blogs" >View Blog</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg3">
                <h2 class="desc"><a href="/about" >About Us</a></h2>
            </div>
            <p class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi mollitia rerum vel ea qui, dolorum enim nihil velit consequatur dignissimos natus amet doloribus esse sapiente facilis rem laudantium excepturi atque!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

        </section>

    </div>
    <a class="gotopbtn" href=""><i class="fa-solid fa-arrow-up"></i></a>
</body>
</html> 