<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="">Bond-Diaries | | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Ninja site </p>
        </div>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blog</a></li>
           <li> <img src="user.png" class="user-pic" onclick="toggleMenu()"></li>
          
        </ul>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="user.png" alt="" >
                    <h3>Harshit</h3>
                </div>
                <hr>
                <a href="" class="sub-menu-link">
                    <img src="profile.png" alt="">
                    <p>Edit Profile</p>
                    <span>></span>

                </a>
                <a href="" class="sub-menu-link">
                    <img src="setting.png" alt="">
                    <p>Setting & Privacy</p>
                    <span>></span>

                </a>
                <a href="" class="sub-menu-link">
                    <img src="help.png" alt="">
                    <p>Help & Support</p>
                    <span>></span>

                </a>
              
                <a href="" class="sub-menu-link">
                    <img src="logout.png" alt="">
                    <p>Logout</p>
                    <span>></span>

                </a>
            </div>
        </div>

    </nav>

    <div class="blogs_content">
        <h2>All Blogs</h2>
        <% if(blogs.length>0 ){%>
            <% blogs.forEach(blog =>{ %>
                <a href="/blogs/<%= blog._id %>">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
                </a>
            <% }) %>
        <%} else {  %>
            <p>There are no blogs to display.......</p>

        <% } %>
    </div>


<script>
    let subMenu=document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
</script>


    

    <footer>
        Copyright &copy; Himanshu Patil 2003
    </footer>
</body>
</html>